.developer {
    width: 100%;
    padding: 20px 50px;
    background-color: $brand-color-dark;
    text-align: center;
}
    .developer__note {
        display: inline-block;
        margin: 0;
        padding: $spacing-unit;
        font-size: $smaller-font-size;
        font-weight: 400;
        color: $text-color-light;
        text-align: center;
        &:first-child {
            border-bottom: 1px solid $text-color-light;
        }
    }