.hwf {
    overflow: auto;
}
    .hwf__subsection {
        padding: 0 $spacing-unit;
        text-align: center;
    }
        .hwf__heading {
            font-size: $base-font-size * 3.55;
            font-weight: normal;
            letter-spacing: 5.76px;
        }
            .hwf__ingredients-listing {
                display: flex;
                flex-wrap: wrap;
                align-items: flex-end;
                margin-left: auto;
                margin-right: auto;
                width: 550px;
            }
                .hwf__ingredients-item {
                    width: 33%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                    .hwf__ingredients-icon {
                        padding: $spacing-unit;
                    }