<section class="sf">
  <div class="container">
    <div class="sf__flex-box">
      <%= render 'subscribers/form', subscriber: @subscriber %>
      
      <%= content_tag :p, class: "sf__tagline" do %>
        Don’t miss out on the latest news, products <br>
        and special offers. Subscribe today!
      <% end %>
    </div>
  </div>
</section>