* {
    box-sizing: border-box;
}

body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    letter-spacing: $base-letter-spacing;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
}
h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 1.17em;
}
h5 {
    font-size: 1.12em;
}
h6 {
    font-size: 0.87em;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    color: inherit;
}