* {
    box-sizing: border-box;
}

body {
    font-family: $base-font-family;
    font-weight: $base-font-weight;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font-family;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: $text-color-dark;
}