* {
    box-sizing: border-box;
}

body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    letter-spacing: $base-letter-spacing;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: $text-color-dark;
    &:hover {
        text-decoration: underline;
    }
}