<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi there!</h1>
    <h2>Thank you for testing out my demo Rails application!</h2>
    <p>
      (Un)fortunately, you didn't actually sign up for anything—So yay, no spam! 
      This was just to show that Action Mailer works. 
    </p>
    <p>
      If you'd like to see the source code, visit <%= @git_url %>.
    </p>
    <p>
      Thank you again for stopping by my demo application and testing its functionality!
    </p>
    <p>
      Cheers, <br> 
      Johnny Hu
    </p>
  </body>
</html>