<h1>Hi there!</h1>
<h2>Thank you for testing out my demo Rails application!</h2>
<p>
  (Un)fortunately, you didn't actually sign up for anything—so yay, no spam! 
  The Brite Markets demo application is just a way to showcase my current design
  and development skills. The code itself is on GitHub and can be viewed at: 
</p>
<p>
  <%= @git_url %>
</p>
<p>
  If you'd like to get in touch, free to email me at <%= @email_address %> 
  or visit my website: www.iamjhu.com. I'd love to hear from you!
</p>
<p>
  Thanks again for stopping by my demo application and testing its functionality!
</p>
<p>
  Cheers,
</p>
<p>
  Johnny Hu <br>
  www.iamjhu.com
</p>