.cmp{
    overflow: auto;
}
    .cmp__flex-box {
        display: flex;
        justify-content: space-between;
    }
        .cmp__subsection {
            min-width: 500px;
            padding-left: $spacing-unit;
            text-align: center;
        }
            .cmp__heading {
                font-size: $base-font-size * 3.55;
                letter-spacing: 5.76px;
            }
            .cmp__title {
                margin-bottom: 48.240px;
            }
            .cmp__tagline {
                letter-spacing: 1.29px;
            }

                .cmp__text-highlight {
                    font-weight: bold;
                    color: $brand-color;
                }
                .cmp__text-cursive {
                    font-family: cursive;
                    color: $brand-color;
            }