.sf {
}
    .sf__flex-box {
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: 0 auto;
    }
    .sf__tagline {
        text-align: center;
        letter-spacing: 1.29px;
    }